<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header class="headerTitle">
      <ion-card-title>Registro de Despesas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Ano</ion-label>
          <ion-select okText="Ok" cancelText="fechar" [(ngModel)]="ano">
            <ion-select-option value="2020">2020</ion-select-option>
            <ion-select-option value="2021">2021</ion-select-option>
            <ion-select-option value="2022">2022</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>Mês</ion-label>
          <ion-select okText="Ok" cancelText="fechar" [(ngModel)]="mes">
            <ion-select-option value="1">Janeiro</ion-select-option>
            <ion-select-option value="2">Fevereiro</ion-select-option>
            <ion-select-option value="3">Março</ion-select-option>
            <ion-select-option value="4">Abril</ion-select-option>
            <ion-select-option value="5">Maio</ion-select-option>
            <ion-select-option value="6">Junho</ion-select-option>
            <ion-select-option value="7">Julho</ion-select-option>
            <ion-select-option value="8">Agosto</ion-select-option>
            <ion-select-option value="9">Setembro</ion-select-option>
            <ion-select-option value="10">Outubro</ion-select-option>
            <ion-select-option value="11">Novembro</ion-select-option>
            <ion-select-option value="12">Dezembro</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-input placeholder="Dia" [(ngModel)]="dia"></ion-input>
      <ion-list>
        <ion-item>
          <ion-label>Tipo</ion-label>
          <ion-select okText="Ok" cancelText="fechar" [(ngModel)]="tipo">
            <ion-select-option value="alimentacao"
              >Alimentação</ion-select-option
            >
            <ion-select-option value="educacao">Educação</ion-select-option>
            <ion-select-option value="lazer">Lazer</ion-select-option>
            <ion-select-option value="saude">Saúde</ion-select-option>
            <ion-select-option value="transpote">Transpote</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-input placeholder="Descrição" [(ngModel)]="descricao"></ion-input>
      <ion-input
        type="number"
        placeholder="Valor"
        [(ngModel)]="valor"
      ></ion-input>
      <ion-row>
        <button class="btn btn-primary btn-block" (click)="cadastrarDispesa()">
          <!-- <strong style="font-size: 20px;">+</strong> -->
          <ion-icon name="add-circle-outline"></ion-icon>
        </button>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
